/depreciated
/papers
/beh_data
/resources

# KEYS
*.env
kafka/cluster_rig_config_env.env
kafka/cluster_rig_config_env.py

# SCRATCH/BUILDING
toDo.txt
00 method.xlsx
sim_LocoXOnOff.m
/kafka/scratch
*scratchpad.py
*scratch.py
*scratch_*.py

# IDE/TOOLS
*.vscode
*.asv
*.pyc
*.prj