/depreciated
/papers
/beh_data
/resources


# KEYS
/kafka/cluster_rig_config_env.*
*.env
*_env.*

# SCRATCH/BUILDING
toDo.txt
00 method.xlsx
/matlab/
/kafka/scratch
*scratchpad.py
*scratch.py
*scratch_*.py

# IDE/TOOLS
.venv
*.vscode
*.asv
*.pyc
*.prj